@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,400,400i,800,800i');

/*
	Nanum Gothic
		font-family: "Nanum Gothic", sans-serif;
	Open Sans
		font-family: "Open Sans", sans-serif;
	Raleway
		font-family: "Raleway", sans-serif;
*/

/* reset */
	html,body {margin:0; padding:0; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; font-weight:normal; font-size:12px; height:100%; color:#333; -webkit-text-size-adjust:none; position:relative; line-height:1.2;}
	dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
	th,td,input,textarea,select {font-size:12px; color:#333; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; -webkit-text-size-adjust:none;}
	th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
	table {border-spacing:0; border-collapse:collapse; -webkit-text-size-adjust:none; border:0; table-layout:fixed;}
	address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; -webkit-text-size-adjust:none;}
	em {font-style:normal; -webkit-text-size-adjust:none;}
	ol,ul,li {list-style:none;}
	h1,h2,h3,h4,h5,h6 {font-size:100%;}
	abbr,acronym {border:0;}
	hr,legend,caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0;}
	img,fieldset {border:0 none;}
	label {cursor:pointer;}
	a {color:inherit;}
	a:link, a:visited, a:hover {color:inherit; text-decoration:none;}
	a:active {text-decoration:none;}
	input,img {vertical-align:middle;}


/*layout*/
#header_container {
	position: fixed;
	left: 0; top: 0;
	width: 100%; /*width: 100%;일 경우 right: 0;해도 똑같이 적용됨*/
	height: 80px;
	background-color: #179191;
	z-index: 3000;
}

#header_container .header_inner {
	width: 1280px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

#header_container .logo {
	position: absolute;
	left: 30px;
	top: 50%; margin-top: -15px; /*위아래로 가운데 정렬을 할 수 있는 팁이다*/
}

#header_container .gnb_wrap {
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -18px;
}

#header_container .gnb_wrap li {
	float: left;
	margin-left: 40px;
	position: relative;
}

#header_container .gnb_wrap li a {
	display: block;
	height: 36px;
	line-height: 36px;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Raleway", sans-serif;
}

#header_container .gnb_wrap li a::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	top: 100%;
	height: 2px;
	background-color: #FFAA00;
	transition: 0.3s;
	transform: scale(0,1);
}

#header_container .gnb_wrap li a:hover::after {
	transform: scale(1);
}

#header_container .gnb_wrap li a:hover {
	color: #FFAA00;
}


/*intro*/
.intro_container {
	height: 100%;
	padding-top: 80px;
	box-sizing: border-box;
	min-width: 1280px;
}

.intro_container .intro_inner {
	height: 100%;
	background: url("../img/bg_intro02.jpg") center center no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
	background-attachment: fixed;
}

.intro_container .intro_inner::before {
	content: "";
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	background-color: rgba(0,0,0,0.75);
}

.intro_container .intro_inner::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.intro_container .intro_inner .content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}

.intro_container .intro_inner .content h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 86px;
}

.intro_container .intro_inner .content p {
	font-family: "Raleway", sans-serif;
	font-weight: 100;
	font-style: italic;
	font-size: 26px;
	line-height: 1.4;
	margin-top: 20px;
}


/*body*/
.body_container {
	min-width: 1280px;
}

.section {
	min-width: 1280px;
	min-height: 800px;
	box-sizing: border-box;
	padding: 85px 0;
}

.section .title {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
}

.section .sub_text {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	color: #999;
	margin-top: 15px;
}


/*about*/
#about {
	background-color: #f2f2f2;
}

/*about_content*/
#about .content_wrap {
	width: 900px;
	min-height: 350px;
	padding-left: 450px;
	box-sizing: border-box;
	position: relative;
	margin: 120px auto 0;
}

#about .content_wrap .profile {
	position: absolute;
	left: 0; top: 0;
	width: 350px; height: 350px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 3px 5px 10px #ccc;
}

#about .content_wrap .profile img {
	width: 100%; height: 100%;
}

#about .content_wrap .contBox {
}

#about .content_wrap .contBox .name {
	font-family: "Open Sans", sans-serif;
	font-size: 32px;
}

#about .content_wrap .contBox .job {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	color: #666;
	display: block;
	margin-top: 3px;
}

#about .content_wrap .contBox .sns {
	font-size: 0;
	margin-top: 25px;
}

#about .content_wrap .contBox .sns li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

#about .content_wrap .contBox .sns li:first-child {
	margin-left: 0px;
}

#about .content_wrap .contBox .sns a {
	display: block;
	background-color: #000;
	border-radius: 50%;
}


#about .content_wrap .contBox .sns a:hover {
	background-color: #FFAA00;
}

#about .content_wrap .contBox .sns img {
	width: 50px; height: 50px;
}

#about .content_wrap .contBox .info {
	margin-top: 15px;
}

#about .content_wrap .contBox .info table {
	width: 100%;
}

#about .content_wrap .contBox .info tr {
	vertical-align: top;
}

#about .content_wrap .contBox .info th {
	width: 100px;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	padding: 6px 0;
}

#about .content_wrap .contBox .info td {
	font-size: 16px;
	color: #666;
	padding: 6px 0;
}

#about .content_wrap .contBox .info td a {
	text-decoration: underline;
}


/*skill*/
#skill {
}

#skill ul {
	display: block;
	margin-top: 130px;
	text-align: center;
	font-size: 0; /*화이트스페이스 없애는 방법*/
}

#skill ul li {
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
}

#skill ul li:first-child {
	margin-left: 0;
}

#skill ul li div {
	width: 180px; height: 180px;
	border-radius: 50%;
	overflow: hidden;
    box-sizing: border-box;
}

#skill ul li div::after {
	content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#skill ul li div img {
	transition: all 0.3s;
}

#skill ul li div:hover img {
	transform: scale(1.1,1.1) rotate(15deg);
}

#skill ul li div.ps {
	background-color: #001d26;
	border: 12px solid #00c8ff;
}

#skill ul li div.ai {
	background-color: #261300;
	border: 12px solid #ff7c00;
}

#skill ul li div.id {
	background-color: #280012;
	border: 12px solid #ff3f94;
}

#skill ul li div.ae {
	background-color: #1f003f;
	border: 12px solid #cf91ff;
}

#skill ul li div.max {
	background-color: #09a1a1;
}

#skill ul li strong {
	font-family: "Open Sans", sans-serif;
	font-size: 28px;
	display: inline-block;
	margin-top: 20px;
}

/*portfolio*/
#portfolio {
	background-color: #f2f2f2;
}

#portfolio .content_wrap {

}

#portfolio .content_wrap ul {
	width: 1160px;
	margin: 0 auto;
	overflow: hidden;
}

#portfolio .content_wrap .item {
	width: 360px; height: 490px;
	background-color: #fff;
	float: left;
	margin: 40px 0 0 40px;
	border: 1px solid #d3d3d3;
	box-sizing: border-box;
}

#portfolio .content_wrap .item:hover .thumbBox img {
	transform: scale(1.1);
}

#portfolio .content_wrap .item:nth-child(3n+1) {
	margin-left: 0;
}

#portfolio .content_wrap .item .thumbBox {
	height: 358px;
	overflow: hidden;
	position: relative;
}

#portfolio .content_wrap .item .thumbBox img {
	width: 100%; height: 100%;
	transition: 0.3s;
}

#portfolio .content_wrap .item .thumbBox .type {
	opacity: 0;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	background-color: rgba(23,145,145,0.8);
	color: #fff;
	font-family: "Raleway", sans-serif;
	line-height: 358px;
	font-size: 26px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	transition: 0.8s;
}

#portfolio .content_wrap .item:hover .thumbBox .type {
	opacity: 1;
}

#portfolio .content_wrap .item .thumbBox .type::before,
#portfolio .content_wrap .item .thumbBox .type::after {
	content: "";
	position: absolute;
	left: 10px; right: 10px; top: 10px; bottom: 10px;
	transition: all 0.3s;
}

#portfolio .content_wrap .item .thumbBox .type::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: scale(0,1);
}

#portfolio .content_wrap .item .thumbBox .type::after {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: scale(1,0);
}

#portfolio .content_wrap .item:hover .thumbBox .type::before,
#portfolio .content_wrap .item:hover .thumbBox .type::after {
	transform: scale(1,1);
}

#portfolio .content_wrap .item .contBox {
	padding: 15px 15px 0;
}

#portfolio .content_wrap .item .contBox .tit {
	font-size: 18px;	
}

#portfolio .content_wrap .item .contBox .type {
	color: #FFAA00;
	display: block;
	margin-top: 8px;
	text-transform: uppercase;
}

#portfolio .content_wrap .item .contBox .dis {
	color: #999;
	line-height: 16px;
	height: 48px;
	overflow: hidden;
	margin-top: 10px;
	text-align: justify;
	text-overflow:ellipsis;
	-webkit-line-clamp:3; /* 셋째줄에서 ... 표시 */
	-webkit-box-orient: vertical;
	display: -webkit-box;
	word-wrap:break-word;
	-o-text-overflow:ellipsis;
}


/*footer*/
#footer_container {
	min-width: 1280px;
}

#footer_container .copy {
	height: 100px;
	background-color: #333;
	color: #fff;
	font-size: 14px;
	text-align: center;
	letter-spacing: -0.5px;
	line-height: 100px;
}


.m {
	display: none;
}




/*media query_start*/

@media (max-width: 1279px) {
	
	/*layout*/
	#header_container .header_inner {
		box-sizing: border-box;
		padding-top: 10px;
		width: auto;
	}

	
	#header_container .logo {
		position: static;
		margin: 0px;
		text-align: center;
	}
	
	#header_container .logo img {
		height: 25px; width: auto;
	}

	#header_container .gnb_wrap {
		position: static;
		margin: 0;
		margin-top: 5px;
	}
	
	#header_container .gnb_wrap li {
		margin-left: 0;
		width: 33.33%;
		text-align: center;
	}
	
	#header_container .gnb_wrap li a {
		line-height: 40px; height: 40px;
		font-size: 14px;
	}
	

	/*intro*/
	.intro_container {
		min-width: 0;
	}
	
	.intro_container .intro_inner .content h2 {
		font-size: 36px;
	}
	
	.intro_container .intro_inner .content h2 .m {
		display: inline;
	}
	
	.intro_container .intro_inner .content p {
		font-size: 14px;
	}
	
	.intro_container .intro_inner .content p .m {
		display: inline;
	}
	
	
	/*body*/
	.body_container {
		min-width: 0;
	}
	
	.section {
		min-width: 0;
		min-height: 0;
		padding: 30px 0;
	}
	
	.section .title {
		font-size: 30px;
		margin-top: 80px;
	}
	
	.section .sub_text {
		font-size: 14px;
		margin-top: 5px;
	}
	
	
	/*about_content*/
	#about .content_wrap {
		padding-left: 0;
		width: auto;
		margin-top: 40px;
	}
	
	#about .content_wrap .profile {
		position: static;
		margin: 0 auto;
		width: 200px; height: 200px;
	}
	
	#about .content_wrap .contBox {
		margin-top: 20px;
	}
	
	#about .content_wrap .contBox .name {
		font-size: 22px;
		text-align: center;
	}
	
	#about .content_wrap .contBox .job {
		font-size: 15px;
		text-align: center;
		margin-top: 5px;
	}
	
	#about .content_wrap .contBox .sns {
		text-align: center;
		margin-top: 15px;
	}
	
	#about .content_wrap .contBox .info {
		margin-top: 10px;
	}
	
	#about .content_wrap .contBox .info table {
		width: 340px;
		margin: 0 auto;
	}
	
	#about .content_wrap .contBox .info th {
		width: 70px;
		font-size: 12px;
	}
	
	#about .content_wrap .contBox .info td {
		font-size: 12px;
	}
	
	
	/*skill*/
	#skill ul {
		margin-top: 60px;
	}
	
	#skill ul li {
		display: block;
		margin-left: 0;
		margin-top: 20px;
	}
	
	#skill ul li:first-child {
	margin-top: 0;
}
	
	#skill ul li div {
		margin: 0 auto;
	}
	
	#skill ul li strong {
		font-size: 22px;
		margin-top: 10px;
	}
	
	
	/*portfolio*/
	#portfolio .content_wrap ul {
		width: auto;
		font-size: 0;
		text-align: center;
		padding: 0 20px;
		margin-top: 20px;
	}
	
	#portfolio .content_wrap .item {
		float: none;
		width: 290px; height: 420px;
		display: inline-block;
		vertical-align: top;
		margin: 40px 20px 0 !important;
		font-size: 12px;
	}
	
	#portfolio .content_wrap .item .thumbBox {
		height: 288px;
	}
	
	#portfolio .content_wrap .item .thumbBox .type {
		line-height: 288px;
		font-size: 22px;
	}
	
	
	/*footer*/
	#footer_container {
		min-width: 0;
	}
	
	#footer_container .copy {
	height: 60px;
	font-size: 12px;
	line-height: 60px;
	}

}


/*
@media (max-width: 619px) {
	#portfolio .content_wrap .item {
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
*/













